.heading-block {
  min-height: 300px;
  width: 100%;
  position: relative;
  .title {
    position: absolute;
    p {
      margin: 0;
    }
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    transform: scale(2);
    top: 45%;
    width: 100vw;

    @media screen and (max-width: $portrait) {
      transform: scale(1.3);
    }
  }

  .border {
    position: absolute;
    top: 20px;
    height: 260px;
    left: 20px;
    right: 20px;
    z-index: -5;
    border: 2px solid rgba(82, 82, 248, 0.295);
    @media only screen and (max-width: $laptop) {
      border: 1px solid rgba(82, 82, 248, 0.295);
    }
  }
}

.content-block {
  min-height: 300px;
  width: 100%;
  position: relative;

  .subtitle {
    position: relative;
    p {
      margin: 0;
    }
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    margin-top: 6em;
    width: 100vw;
  }
  .text {
    text-align: left;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      width: 60%;
      text-indent: 2em;
      line-height: 1.5em;
      font-size: large;
      &::first-letter {
        font-size: x-large;
        font-weight: 600;
      }
    }
    .case {
      margin-top: 2em;
      width: 60%;
      font-size: x-large;
      color: rgb(31, 31, 105);

      &.secondary {
        color: rgb(103, 28, 165);
      }
    }

    ul {
      font-size: large;
      line-height: 1.5em;
      width: 50%;
    }

    ol {
      font-size: large;
      line-height: 1.5em;
      width: 50%;
    }

    .qna {
      li {
        margin-bottom: 3em;
        div {
          &:nth-child(1) {
            font-weight: 600;
            color: rgb(44, 3, 77);
          }
          &:nth-child(3) {
            color: rgb(103, 28, 165);
          }
        }
      }
    }

    img {
      background-color: white;
      border: 3px solid rgb(44, 3, 77);
      width: 60%;
      margin-top: 3em;
    }
    .smallimg {
      width: 35%;
      max-height: 50vh;
      object-fit: contain;
      @media screen and (max-width: $monitor) {
        width: 40%;
      }
      @media screen and (max-width: $laptop) {
        width: 50%;
      }
      @media screen and (max-width: $tablet) {
        width: 60%;
      }
    }
    .longimg {
      width: 50%;
      object-fit: contain;
      @media screen and (max-width: $monitor) {
        width: 55%;
      }
      @media screen and (max-width: $laptop) {
        width: 55%;
      }
      @media screen and (max-width: $tablet) {
        width: 60%;
      }
    }
    p {
      img {
        display: block;
        margin: 2em auto;
        width: 40%;
      }
    }
  }
}
